[submodule "AIAgents-CrewAI"]
	path = AIAgents-CrewAI
	url = https://github.com/MariahFerns/AIAgents-CrewAI.git
[submodule "RAGChatbot-pdf-GoogleAI"]
	path = RAGChatbot-pdf-GoogleAI
	url = https://github.com/MariahFerns/RAGChatbot-pdf-GoogleAI.git
[submodule "Video-Summary-ContentGeneration-GoogleAI"]
	path = Video-Summary-ContentGeneration-GoogleAI
	url = https://github.com/MariahFerns/Video-Summary-ContentGeneration-GoogleAI.git
[submodule "TextSummarization-LangChain"]
	path = TextSummarization-LangChain
	url = https://github.com/MariahFerns/TextSummarization-LangChain.git
[submodule "RAGChatbot-web-Cohere_CommandR"]
	path = RAGChatbot-web-Cohere_CommandR
	url = https://github.com/MariahFerns/RAGChatbot-web-Cohere_CommandR.git
[submodule "RAGChatbot-txt-OpenAI"]
	path = RAGChatbot-txt-OpenAI
	url = https://github.com/MariahFerns/RAGChatbot-txt-OpenAI.git
[submodule "RAG-with-reranking-Cohere_ReRanker"]
	path = RAG-with-reranking-Cohere_ReRanker
	url = https://github.com/MariahFerns/RAG-with-reranking-Cohere_ReRanker.git
[submodule "MoodAnalyzer-Recommender-AnthropicClaude"]
	path = MoodAnalyzer-Recommender-AnthropicClaude
	url = https://github.com/MariahFerns/MoodAnalyzer-Recommender-AnthropicClaude.git
[submodule "StockMarketAnalysis-AIAgents-Autogen"]
	path = StockMarketAnalysis-AIAgents-Autogen
	url = https://github.com/MariahFerns/StockMarketAnalysis-AIAgents-Autogen.git
[submodule "RAGChatbot-url-Ollama-MistralAI"]
	path = RAGChatbot-url-Ollama-MistralAI
	url = https://github.com/MariahFerns/RAGChatbot-url-Ollama-MistralAI.git
[submodule "AI_Education"]
	path = AI_Education
	url = https://github.com/MariahFerns/AI_Education.git
